html{
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

button{
    background-color: #F84646;
    color: #FFF;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

}

h2{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

#presentation-container{
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#presentation{
    width: 37.5rem;
}

#qualities {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

}

#qualities img{
    margin: 0 2.5rem;
}

#contact-title{
    margin-top: .5rem;
}

.container{
    padding: 5rem 7.5rem;
    text-align: center;
}

.container p{
    margin-top: 1.5rem;
}

.container h2{
    margin-top: 0.5rem;
}

.container button{
    margin-top: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
}

.container button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.background-gradient{
    background: linear-gradient(190deg, #FFF, #d9d9d9);
}

.background-red{
    background-color: #F84646;
    color: #FFF;
}

.background-grey{
    background-color: #f4f5f7;
}

.article-container{
    display: flex;
    flex-direction: row;
}

.article-container:nth-child(even){
    margin-top: 5rem;
    flex-direction: row-reverse;
}

.article-container:nth-child(even) .article-details{
    margin: 0 0 0 2.5rem;
}

.article-container img{
    width: 50%;
    object-fit: cover;
}

.article-details{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 0 2.5rem 0 0;
    justify-content: space-between;
}

.article-details button{
    font-size: 1rem;
}

.footer-list{
    display: flex;
    text-align: left;
}

.footer-list ul li{
    list-style: none;
    margin-bottom: 1rem;
}

.footer-list ul li:last-child{
    margin-bottom: 0;
}

.footer-list ul li:first-child{
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8.5rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.grid-item h3{
    margin-top: .5rem;
}

.grid-item p{
    margin: .5rem 0 0;
}

.grid-container-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}


.grid-item-companies{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.company-1{
    grid-area: 1 / 3 ;
}

.company-2{
    grid-area: 2 / 2 ;
}

.company-3{
    grid-area: 2 / 3 ;
}

.company-4{
    grid-area: 2 / 4 ;
}

.company-5{
    grid-area: 3 / 1 ;
}

.company-6{
    grid-area: 3 / 2 ;
}

.company-7{
    grid-area: 3 / 3 ;
}

.company-8{
    grid-area: 3 / 4 ;
}

.company-9{
    grid-area: 3 / 5 ;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    #presentation-container{
        padding: 5rem 4rem;
    }

    .container{
        padding: 5rem 4rem;
    }

    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-companies{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1.5rem;
        margin-top: 3rem;
    }

    .company-1{
        grid-area: auto;
    }

    .company-2{
        grid-area: auto;
    }

    .company-3{
        grid-area: auto;
    }

    .company-4{
        grid-area: auto;
    }

    .company-5{
        grid-area: auto;
    }

    .company-6{
        grid-area: auto;
    }

    .company-7{
        grid-area: auto;
    }

    .company-8{
        grid-area: auto;
    }

    .company-9{
        grid-area: auto;
    }
    
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    #presentation-container{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .grid-container{
        grid-template-columns: 1fr;
    }

    #qualities {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    #qualities img{
        transform: rotate(90deg);
        margin: 2.5rem 0;
    }

    .article-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .article-container:nth-child(even){
        flex-direction: column-reverse;
    }
    
    .article-details{
        text-align: center;
        align-items: normal;
        margin: 2rem 0 0 0;
    }

    .article-container:nth-child(even) .article-details{
        text-align: center;
        align-items: normal;
        margin: 2rem 0 0 0;
    }

    .article-container img{
        width: 100%;
    }

    .grid-container-companies{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1.5rem;
        margin-top: 3rem;
    }

    .grid-item-companies{
        height: 6rem;
    }

    .company-1{
        grid-area: auto;
    }

    .company-2{
        grid-area: auto;
    }

    .company-3{
        grid-area: auto;
    }

    .company-4{
        grid-area: auto;
    }

    .company-5{
        grid-area: auto;
    }

    .company-6{
        grid-area: auto;
    }

    .company-7{
        grid-area: auto;
    }

    .company-8{
        grid-area: auto;
    }

    .company-9{
        grid-area: auto;
    }

    .footer-list{
        flex-direction: column;
        justify-content: center;
    }

    .footer-list ul{
        margin-top: 3rem;
    }

    .footer-list ul:first-child{
        margin-top: 0;
    }

    .footer-copyright{
        flex-direction: column-reverse;
    }

    .footer-copyright div:last-child{
        margin-top: 4rem;
    }
    
}